/**
 * Mobi.css imports.
 */
@import 'variables';
@import 'mixins';

@import 'resets';

/*@import 'layout';*/
@import 'table';
@import 'form';
@import 'utilities';


@import 'https://fonts.googleapis.com/css?family=Droid+Serif|Raleway';

/**
 * Local Code.
 */

/**
 * Variables.
 */

$sidebar-width-tablet: 250px;
$breakpoint-tablet: 768px;
$sidebar-width-desktop: 300px;
$breakpoint-desktop: 992px;
$padding-sm: 20px;
$padding-md: 35px;
$padding-lg: 50px;
$type-heading: 'Raleway', sans-serif;
$type-default: 'Droid Serif', serif;
$color-gray-light: rgb(88, 110, 117);
$color-gray-mid: rgb(0, 52, 65);
$color-solarized-bg: #002b36;


/**
 * Mixins.
 */

@mixin pattern-diamond($color: #000, $bg-color: transparent, $size: 80px, $spacing: -5px, $offset: 0) {
  background-image: radial-gradient(ellipse $size $size*1.1, transparent $size - 1, $color $size, transparent $size + 1);
  background-position: $offset $offset;
  background-color: $bg-color;
  background-size: $size*2+$spacing $size*2+$spacing;
}

@mixin tablet() {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin content-padding($multiplier-v: 1, $multiplier-h: 1) {
  padding: $padding-sm*$multiplier-v $padding-sm*$multiplier-h;
  @include tablet { padding: $padding-md*$multiplier-v $padding-md*$multiplier-h; }
  @include desktop { padding: $padding-lg*$multiplier-v $padding-lg*$multiplier-h; }
}

@mixin negative-content-padding($multiplier: 1) {
  margin: -$padding-sm*$multiplier;
  @include tablet { margin: -$padding-md*$multiplier; }
  @include desktop { margin: -$padding-lg*$multiplier; }
}

@mixin text-shadow() {
  text-shadow: 0px 2px 5px #000;
}

@mixin box-shadow() {
  box-shadow: 0px 2px 5px #000;
}

/**
 * Styles.
 */

html {
}
body {
  font-size: 1.6rem;
  font-family: $type-default;
  background-color: $color-solarized-bg;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $type-heading;
}

h2 {
  font-size: 4rem;
  line-height: 4.5rem;
}

code.hljs {
  display: inline;
  padding: 0.25em 0.5em;
  border-radius: 8px;
  white-space: nowrap;

  &.hljs-line-numbers {
    display: none;
  }
}
pre {
  max-height: none;
  padding: 0;
  margin: $width-gap -1*$padding-sm 1px;
  position: relative;

  code.hljs {
    display: block;
    padding: $padding-sm;
    padding-left: $padding-sm*2;
    border-radius: 0;
    white-space: pre;

    &.hljs-line-numbers {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      text-align: right;
      color: $color-gray-light;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: $color-gray-mid;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

  }

  @include tablet {
    margin-left: -1*$padding-md;
    margin-right: -1*$padding-md;
    code.hljs {
      padding-left: $padding-md;
      padding-right: $padding-md;
    }
  }
  @include desktop {
    margin-left: -1*$padding-lg;
    margin-right: -1*$padding-lg;
    code.hljs {
      padding-left: $padding-lg;
      padding-right: $padding-lg;
    }
  }
}

* { box-sizing: border-box; }

body {
}

.Layout {
  position: relative;
}
.Layout-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.Layout-background-1 {
  @include pattern-diamond($color-gray-mid);
  z-index: 1;
}
.Layout-background-2 {
  @include pattern-diamond(darken($color-gray-mid, 0.9%), $offset: 80px);
  z-index: 2;
}

.Layout-sidebar {
  position: relative;
  z-index: 10;
  text-align: center;
  color: #FFFFFF;
  padding-top: $padding-md;

  a {
    color: #FFFFFF;
  }

  @include tablet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $sidebar-width-tablet;
    padding-top: $padding-md;
    padding-bottom: $padding-md;
  }

  @include desktop {
    width: $sidebar-width-desktop;
    padding-top: $padding-lg;
    padding-bottom: $padding-lg;
  }

}

.Identity {
  display: block;
  position: relative;
  font-family: $type-heading;
  font-size: 4rem;
  line-height: 0.875em;;
  font-weight: bold;
  width: 85%;
  display: block;
  margin: 0 auto;
  padding-bottom: $padding-sm;
  &:hover {
    text-decoration: none;
  }
  @include tablet {
    margin-top: $padding-md;
  }
}

.Layout-content {
  position: relative;
  z-index: 10;
  z-index: 10;
  @include tablet {
    margin-right: $sidebar-width-tablet;
  }
  @include desktop {
    margin-right: $sidebar-width-desktop;
  }
}

.u-content-container {
  max-width: $breakpoint-tablet;
  margin-left: auto;
  margin-right: auto;
}

.Nav {
  ul {
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    margin: $padding-sm auto;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    max-width: 85%;

    li {
      display: block;
      flex-grow: 1;

      &:hover {
        background: rgba(255, 255, 255, 0.05);
      }
      &.selected {
        background: rgba(255, 255, 255, 0.125);
      }

      a {
        display: block;
        padding: $padding-sm / 2;
        text-decoration: none;
      }
    }

    @include tablet {
      display: block;
    }
  }
}


.Page {}
.Page-header {
  @include content-padding($multiplier-v: 2);
}
.Page-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.5rem;
  line-height: 5rem;
  color: #FFFFFF;
  @include text-shadow();
  a {
    color: #FFFFFF;
  }
}
.Page-content {
  background: #FFFFFF;
  overflow: auto;
  @include content-padding();

  @include tablet {
    border-right: 4px solid darken($color-solarized-bg, 1%);
  }

  > * + * {
    margin-top: $padding-sm;
  }
  h2 {
    margin-top: $padding-md;
  }
}
.Page-footer {
  @include content-padding();
  padding-top: $padding-sm !important;
  padding-bottom: $padding-sm !important;
  color: #FFFFFF;
  font-size: 1.25rem;
  text-align: center;

  .Page-footer-date,
  .Page-footer-byline,
  .tags-links {
    display: inline-block;
    margin: 0 1em;
  }
}

.Pagination {
  @include content-padding();

  .nav-links {
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
  }

  .next,
  .prev {
    display: block;
    width: 50%;
    color: #FFFFFF;
    font-family: $type-heading;
    font-size: 2rem;
    padding: $padding-sm;

    &:hover {
      background: rgba(255, 255, 255, 0.125);
      text-decoration: none;
    }
  }

  .next {
    float: right;
    text-align: right;
  }
  .prev {
    float: left;
  }
}
